body{

  background-image: url(images/back.jpg);
}
.row{
  margin-top: 30px;
  margin-bottom: 30px
}
.card{
  textsuccess;
}
.card-title{
  font-family: "Times New Roman", Times, serif;
  font-size: 1.875em;
}
/* .button{
  margin-top:12px;
} */
