{% extends "base.html" %}
{% block js %}
<script>
  alert("hello pavan!");
</script>
{% endblock %}
{% block navigation %}
<li class="nav-item active">
  <a class="nav-link" href="">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/projects">Projects</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about">Resume</a>
</li>
{% endblock%}
{% block content %}
{% load static %}
<img src="{% static "home/images/FB_IMG_1517292534142.jpg" %}" alt="My image" style="width:500px;height:500px;"/>
{% endblock%}
<!-- /home/shreyas/personal_website/home/templates/home/index.html
/home/shreyas/personal_website/FB_IMG_1517292534142.jpg -->
