{% extends "base.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/styles.css' %}" />
{% endblock %}
  {% block navigation %}
  <li class="nav-item ">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about/resume">Resume</a>
  </li>
  {% endblock%}
   {% block content %}
  <div class="container">
  <div class="jumbotron" style="background-color:transparent;">
    <h1 style="text-align:center;color:red;">My Projects</h1>
  </div>
</div>
  <div class="container">
  <div class="row justify-content-around">
    <div class="col-4">
      <div class="card text-success" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">ML Implementations</h4>
    <p class="card-text">Basic Machine Learning Implementations,deep learing coursera assignments</p>
    <a href="https://github.com/shreyasseshadri/ML" class="btn btn-primary">Github</a>
  </div>
</div>
    </div>
    <div class="col-4">
      <div class="card text-success"style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">Kaggle</h4>
    <p class="card-text">This repo contains the kernels that I used for the competions in kaggle,along with explanations.</p>
    <a href="https://github.com/shreyasseshadri/Kaggle" class="btn btn-primary">Github</a>
     <a href="https://www.kaggle.com/shreyaseshadri" class="btn btn-primary">Kaggle</a>
   </div>
</div>
    </div>
    <div class="col-4">
      <div class="card text-success"style="width: 20rem;">

  <div class="card-block">
    <h4 class="card-title">Artist Classifier</h4>
    <p class="card-text">To use a pre trained models to help predict the author of a painting,given a dataset of author and his paintings.</p>
    <a href="https://github.com/shreyasseshadri/Artist-classifier" class="btn btn-primary">Github</a>
  </div>
</div>
</div>
  </div>

  <div class="row justify-content-around">
    <div class="col-4">
      <div class="card text-success"style="width: 20rem;">

  <div class="card-block">
    <h4 class="card-title">Propensity to buy</h4>
    <p class="card-text">I built a Propensity to buy model to test the propensity of a client to buy a product based on his transactions</p>
    <a href="https://github.com/shreyasseshadri/Propensity-to-buy" class="btn btn-primary">Github</a>
  </div>
</div>
    </div>
    <div class="col-4">
      <div class="card text-success"style="width: 20rem;">

  <div class="card-block">
    <h4 class="card-title">Response Recommendation</h4>
    <p class="card-text">Built a response recommendation model for customer care support using two methods.</p>
    <a href="#" class="btn btn-primary">Github</a>
  </div>
</div>
    </div>
    <div class="col-4">
      <div class="card text-success"style="width: 20rem;">

  <div class="card-block">
    <h4 class="card-title">SudoSys</h4>
    <p class="card-text">Built a voice chat application using TCP protocol in python.</p>
    <a href="https://github.com/shreyasseshadri/SudoSys" class="btn btn-primary">Github</a>
  </div>
</div>
</div>
<div class="logo">
<!-- <a href=" https://github.com/shreyasseshadri"><img style="border-radius:50%;" src='../../static/projects/images/GitHub-Mark.png' /></a> -->
</div>
{% endblock %}
